@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-text: #1e1e1e;
    --color-one: #AA60D7;
    --color-two: #FF589E;
    --font: 'Raleway', sans-serif;
  
  }
html {
    scroll-behavior: smooth;
}
body{
    font-family: var(--font);
    color: var(--color-text);
    letter-spacing: 0.6px;
}
*{
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}
.button{    
    color: #fff;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 45px;
    border: none;
    font-size: 14px;
}
.button-one{
    background: var(--color-two);
    color: #fff;
    transition: all .3s ease;
    border: none;
}
.button-one:hover{
    background: var(--color-one);
    color: #fff;
    transition: all .3s ease;
}
.button-two{
    background: var(--color-one);
    color: #fff;
    transition: all .3s ease;
    border: none;
    font-weight: 300;
}
.button-two:hover{
    text-decoration: none;
    background: var(--color-two);
    color: #fff;
    transition: all .3s ease;
}